body {
  background-image: url("../img/background.jpg");
  background-size: cover;
}
.navbar {
  background-color: #095e7d;
}
.nav-item {
  margin-right: 15px;
}
.nav-item:last-child {
  margin-right: 0;
}
.nav-link {
  border-bottom: 2px solid transparent;
}
.nav-link:hover,
.active {
  border-bottom: 2px solid #fef0e7;
  color: #fef0e7 !important;
}
.background-pink {
  background-color: #fef0e7;
  padding: 30px;
  margin-bottom: 10px;
}
.logo-banner {
  background-color: #095e7d;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  justify-content: center;
  background-color: #095e7d;
  margin-top: 5px;
  z-index: 100;
}
.cursief {
  font-family: "Amatic SC", cursive;
  font-family: "Architects Daughter", cursive;
  font-family: "Corinthia", cursive;
  display: inline;
  font-size: 180%;
}
.center {
  display: block;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
.carousel-link {
  color: white;
  text-decoration: none;
}
.text-right {
  text-align: right;
}
.accordion-item {
  background-color: #fef0e7;
}
.accordion-button {
  background-color: #fef0e7;
}
.accordion-header[aria-expanded="true"]::after {
  background-color: #095e7d;
}
.progress-bar {
  background-color: #095e7d;
}
.card-body {
  background-color: #feede3;
  color: #095e7d;
  opacity: 50%;
}

th,
td {
  padding: 10px;
}
table {
  padding-bottom: 50px;
}
a {
  color: #095e7d;
}
a:hover {
  opacity: 50%;
}
.accordion-button:not(.collapsed) {
  background-color: transparent;
  color: black;
  box-shadow: none;
}
.marginbottom {
  margin-bottom: 50px;
}
.space {
  margin-top: 50px;
  margin-bottom: 50px;
}
.form-control {
  background-color: #eeeae7;
}
.form-floating > .form-control,
.form-floating > .form-select {
  background-color: #eeeae7;
  box-shadow: none;
  border-color: transparent;
}

.btn-verstuur {
  background-color: #095e7d;
  border-color: #095e7d;
  color: #feede3;
  float: right;
}
.background-image-laptop {
  background-image: url("../img/5.jpg");
  background-size: cover;
}
.was-validated .form-control:valid {
  border-color: #095e7d;
  background-image: url("../img/check.png");
}
.form-select.is-valid:not([multiple]):not([size]),
.form-select.is-valid:not([multiple])[size="1"],
.was-validated .form-select:valid:not([multiple]):not([size]),
.was-validated .form-select:valid:not([multiple])[size="1"] {
  border-color: #095e7d;
  background-image: url("../img/check.png");
}
.contactlogos {
  text-align: right;
  margin: 20;
  padding: 100;
  list-style-type: none;
}
